.container {
    display: flex;
    align-items: center;
}

input[type="email"] {
    width: calc(100% - 60px); /* Adjust width to accommodate the icon and submit button */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon {
    margin-left: -25px; /* Adjust position of the icon */
    color: green; /* Change color of the icon */
}

.hidden {
    display: none;
}

img#submitButton {
    cursor: pointer;
    margin-left: 10px;
}

#message {
    margin-left: 10px;
    color: red;
}
